flask==3.1.3
flask-jwt-extended==4.6.0
flask-pymongo==2.3.0
flask-cors==6.0.0
flask-limiter==3.8.0
pymongo[srv]==4.7.2
werkzeug==3.1.6
gunicorn==22.0.0
pytz==2024.1
python-dotenv==1.2.2
openpyxl==3.1.5
requests==2.33.0
sentry-sdk[flask]==2.13.0
pywebpush==2.0.1
apscheduler==3.10.4
